
.DarkTheme{
    background-color: #1E1E1E !important;
    border: 1px solid;
    border-color: #3b3b3b !important;
    color: white;
}

.DarkTheme::placeholder{
    color: #9ca3af !important;
}

.DarkThemeBtn{
    background-color: #4DA6FF;
    transition: 0.5s;
    color: #1E1E1E !important;
}

.DarkThemeBtn:hover{
    background-color: #66BFFF;
}

.DarkThemeTexts{
    color: #9ca3af !important;
}

.DarkThemeTextBlue{
    color: #4DA6FF !important;
}

.DarkThemeBorder{
    border-color: #3b3b3b !important;
}